In [2]:
import pandas as pd

In [16]:
bf = pd.read_csv('/Users/beenyu/project_women_pop/bf_word_dic')
af = pd.read_csv('/Users/beenyu/project_women_pop/af_word_dic')

In [42]:
bf[bf['0'].isin(['입술', '가슴', '섹시', '흥분', 'sexy', '몸매', '몸', '다리', '엉덩이', 'hot', '야해', '침대', '야한'])]

      Unnamed: 0     0   1
70            70    가슴  83
174          174  sexy  45
282          282    입술  30
346          346   hot  25
427          427     몸  20
560          560    다리  15
1312        1312    몸매   7
1597        1597    침대   5
2028        2028    야해   4
6001        6001   엉덩이   1
8863        8863    흥분   1
8979        8979    섹시   1

In [43]:
af[af['0'].isin(['입술', '가슴', '섹시', '흥분', 'sexy', '몸매', '몸', '다리', '엉덩이', 'hot', '야해', '침대', '야한'])]

      Unnamed: 0    0   1
110          110   가슴  81
445          445  hot  25
498          498    몸  22
658          658  엉덩이  18
953          953   침대  12
1243        1243   입술   9
3100        3100   몸매   3
3580        3580   다리   3
7341        7341   흥분   1